@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

html,
body {
  padding: 0;
  margin: 0;
  background: #348cb2;
}

* {
  box-sizing: border-box;
}

body, input, select, textarea {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: -0.025em;
  line-height: 1.75em;
}

nav ul {
  list-style: none;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
  bottom: 0;
  cursor: default;
  left: 0;
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 13pt;
  margin: 6px;
}

/* Background */
#wrapper{
  position: relative;
}

#component-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bg {
  animation: bg 60s linear infinite;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);

  background: #348cb2 url("images/bg.jpg") bottom left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  background-size: 2250px auto;
  width: 6750px;
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

/* name header */
main h1 {
  margin: 0;
  font-size: 4.35em;
  font-weight: 900;
  letter-spacing: -0.035em;
  line-height: 1em;
}

/* tagline */
main p {
  font-size: 1.25em;
  margin: 0.75em 0 0.25em 0;
  opacity: 0.75;
}

/* links list */
nav {
  margin: 1.5em 0 0 0;
}
nav li {
  display: inline-block;
  line-height: 5.885em;
  top: 0;
  padding: 0.4rem;
}

/* Icon */
.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;

  border-radius: 100%;
  border: solid 1px #fff;
  display: block;
  font-size: 2.5em;
  text-align: center;
  top: 0;
  line-height: 2em;
  width: 2em;
  height: 2em;
  color: #fff;
}

.icon > .label {
  display: none;
}
